@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);


.header {
    width: 100%;
    height: 63px;
    margin: 0;
    padding: 0;
    background: #333333;
}

.header-back {
    width: 100%;
    height: 68px;
    margin: 0;
    padding: 0;
    background:  #6fc7e6;
}

/* ========= Container ========= */

.container-header{
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 15%;
    margin-right: 15%;
    height: 25px;
    padding: 0;
    background:  #8cd2eb;
}

.container-header h1 {
    margin: 0 0 15px;
    padding: 2px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
}

.container{
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    background:  #ffffff;
    box-shadow: 5px 5px 2px #888888;
}

.container table{
    width: 100%;
    margin:0;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.container td{
    color: #686d70;
    border-bottom: 1px solid #ddd;
}

.container button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #8cd2eb;
  width: 100%;
  border: 0;
  padding: 5px;
  color: #FFFFFF;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.container button:hover,.container button:active,.container button:focus {
  background: #333333;
}

.container select {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
}

.container input {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  outline: 0;
  border: 1px;
  margin: 0;
  box-sizing: border-box;
  font-size: 17px;
}

/* ========= Body ========= */

body {
    margin: 0;
    padding: 0;
    background: #eaeaea;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}